// bower:scss
// endbower
//import bootstrap

@import '../../bower_components/bootstrap/scss/bootstrap.scss';

//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

// Moduler en variabels
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/buttons';
@import 'modules/footer';
@import 'modules/header';
@import 'modules/poetshulp';
@import 'modules/dienstencheques';
@import 'modules/vacatures';
@import 'modules/formulier';
@import 'modules/contact';
@import 'modules/privacy';

//Partials
@import 'partials/menubar';
@import 'partials/home-page';

//Vendor third-party
// @import 'vendor/animate';
// @import '../../node_modules/aos/src/sass/aos.scss';

