// styles voor vacatures pagina . 

.onzeVacatures{
    margin-top: 100px;
    margin-bottom: 100px;
    h2{
        color: $paars;
        margin-bottom: 50px; 
    }
    .accordion{
        margin-top: 50px;
        .card{
            button{
                color: $paars;
            }
        }
    }
}
